<div class="row justify-content-center">
  <div class="col-md-4">
    <div class="card">
      <div class="card-header bg-primary"><span class="text-light">Resend confirmation instructions</span></div>
        <div class="card-body">
          <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
            </div>

            <div class="d-grid gap-2">
              <%= f.submit "Resend confirmation instructions", class: "btn btn-primary" %>
              <div class="d-flex flex-lg-row flex-column justify-content-between mt-3">
                <%= render "devise/shared/links" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
