<div class="d-grid gap-4">
  <div class="d-flex flex-row justify-content-between">
    <div class="d-grid gap-1">
      <span class="fw-bold"><%= @social_user.full_name %></span>
      <span>@<%= @social_user.username %></span>
    </div>
    <div class="my-auto">
      <%= link_to "Follow another user ", search_users_path, class: 'btn btn-primary' %>
    </div>
  </div>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <h6 class="nav-link active fw-bold">Following</h6>
    </li>
  </ul>
  <div class="d-grid gap-4">
    <% @follows.each do |social_user| %>
      <%= render 'shared/social_user', social_user: social_user %>
    <% end %>
    <div class="ms-auto">
      <%== pagy_bootstrap_nav(@pagy) %>
    </div>
  </div>
</div>
