<div class="position-absolute top-0 start-0 translate-middle-y ps-3">
  <%= image_tag user.gravatar_url, class: 'rounded-circle img-fluid img-thumbnail', size: '115x115' %>
</div>
<% if current_user?(social_user: user) %>
  <div class="d-flex flex-row justify-content-end">
    <%= link_to "Tweet", new_tweet_path, class: 'btn btn-primary' %>
  </div>
<% elsif !user_followed?(social_user: user) %>
  <div class="d-flex flex-row justify-content-end">
    <%= link_to "Follow", user_followers_path(user.username), method: :post, class: 'btn btn-dark' %>
  </div>
<% else %>
  <div class="mt-5"></div>
<% end %>
<div class="d-grid gap-3 mt-2">
  <div class="d-grid gap-1">
    <span class="fw-bold"><%= user.full_name %></span>
    <span>@<%= user.username %></span>
  </div>
  <div class="row">
    <div class="col-3">
      <%= link_to user_follows_path(user.username), class: 'link-dark text-underline-hover' do %>
        <span class="fw-bold"><%= user.follow_count %></span> Following
      <% end %>
    </div>
    <div class="col-3">
      <%= link_to user_followers_path(user.username), class: 'link-dark text-underline-hover' do %>
        <span class="fw-bold"><%= user.followers_count %></span> Followers
      <% end %>
    </div>
  </div>
</div>