<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nave-menu" aria-controls="nave-menu" aria-expanded="false" aria-label="Toggle menu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="nave-menu">
      <%= link_to 'TCloneApp', root_path, class: 'navbar-brand' %>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to 'Feeds', feeds_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Home', user_path(current_user.username), class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
      <div class="d-flex">
        <% if user_signed_in? %>
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-white" href="#" id="user-dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <%= image_tag current_user.gravatar_url, class: 'rounded-circle img-fluid', size: '35x35' %>
                <%= current_user.username %>
              </a>
              <ul class="dropdown-menu" aria-labelledby="user-dropdown">
                <li>
                  <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
                </li>
              </ul>
            </li>
          </ul>
        <% else %>
          <%= link_to new_user_session_path, class: 'btn btn-outline-light' do %>
            <%= fa_icon 'user', class: 'pe-2' %>Login
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</nav>