<div class="card shadow-sm">
  <div class="card-body">
    <div class="row">
      <div class="col">
        <span class="fw-bold"><%= tweet.user.full_name %></span>, 
        <span>
          <%= link_to user_path(tweet.user.username), class: 'link-dark text-underline-hover' do %>
            @<%= tweet.user.username %>
          <% end %>
          - <%= l tweet.created_at, format: :short %>
        </span>
      </div>
    </div>
    <div class="row">
      <span><%= tweet.content %></span>
    </div>
  </div>
</div>